/* ===================================
   Solar Icons Library Styles
   =================================== */

svg.solar-icons {
  color: currentColor !important;
}

svg.solar-icons path {
  color: currentColor !important;
  stroke-width: inherit !important;
}
